@model IQueryable<string>

<!-- Category Filter Dropdown -->
<div class="filters-wrapper mb-3">
    <div class="dropdown category-filter-dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="categoryDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdownMenuButton">
            <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-productType="" asp-route-pageNum="">All Products</a></li>
            @foreach (string pt in Model ?? Enumerable.Empty<string>())
            {
                <li>
                    <a class="dropdown-item @(pt == ViewBag.SelectedProductType ? "active" : "")" asp-controller="Home" asp-action="Products" asp-route-productType="@pt" asp-route-pageNum="1">@pt</a>
                </li>
            }
        </ul>
    </div>
</div>