@model IQueryable<string>

<div class="d-grid gap-2">
    @* Let's build the home tag *@
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-productType="" asp-route-pageNum="">All Products</a></li>
            @foreach (string pt in Model ?? Enumerable.Empty<string>())
            {
                <li>
                    <a class="dropdown-item @(pt == ViewBag.SelectedProductType ? "active" : "")" asp-controller="Home" asp-action="Products" asp-route-productType="@pt" asp-route-pageNum="1">@pt</a>
                </li>
            }
        </ul>
    </div>
</div>