@model BuildsByBrickwellNew.Models.Order
@{
    ViewData["Title"] = "Checkout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Cart">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    </ol>
</nav>

<h2>Checkout</h2>
<hr />

@{
    var currentDate = DateTime.Now;
    var currentDayOfWeekNumber = (int)currentDate.DayOfWeek == 0 ? "Sunday" : currentDate.DayOfWeek.ToString();
    var currentHour = currentDate.Hour;
}

<form asp-controller="Home" asp-action="Checkout" method="post">
    <input type="hidden" asp-for="TransactionId" />

    <div class="form-group">
        <label for="customerID">Customer ID</label>
        <input type="text" class="form-control" id="customerID" name="CustomerId" value="0" readonly>
    </div>

    <div class="form-group">
        <label for="transactionDate">Date</label>
        <input type="date" class="form-control" id="transactionDate" name="Date" value="@currentDate.ToString("yyyy-MM-dd")" readonly>
    </div>

    <div class="form-group">
        <label for="dayOfWeek">Day of the Week</label>
        <input type="text" class="form-control" id="dayOfWeek" name="DayOfWeek" value="@currentDayOfWeekNumber" readonly>
    </div>

    <div class="form-group">
        <label for="transactionTime">Time</label>
        <input type="number" class="form-control" id="transactionTime" name="Time" value="@currentHour" readonly>
    </div>

    <!-- Dropdown for EntryMode -->
    <div class="form-group">
        <label asp-for="EntryMode">Entry Mode</label>
        <select asp-for="EntryMode" class="form-control">
            <option value="">Select Entry Mode</option>
            <option value="PIN">PIN</option>
            <option value="Tap">Tap</option>
            <option value="CVC">CVC</option>
        </select>
    </div>

    <!-- Input field for Amount -->
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" class="form-control" step="0.01" placeholder="Enter Amount">
    </div>
    <!-- Dropdown for TypeOfTransaction -->
    <div class="form-group">
        <label asp-for="TypeOfTransaction">Type of Transaction</label>
        <select asp-for="TypeOfTransaction" class="form-control">
            <option value="">Select Transaction Type</option>
            <option value="Online">Online</option>
            <option value="ATM">ATM</option>
            <option value="POS">POS</option>
        </select>
    </div>

    <!-- Dropdown for CountryOfTransaction -->
    <div class="form-group">
        <label asp-for="CountryOfTransaction">Country of Transaction</label>
        <select asp-for="CountryOfTransaction" class="form-control">
            <option value="">Select Country</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="China">China</option>
            <option value="India">India</option>
            <option value="Russia">Russia</option>
        </select>
    </div>

    <!-- Dropdown for ShippingAddress -->
    <div class="form-group">
        <label asp-for="ShippingAddress">Shipping Country</label>
        <select asp-for="ShippingAddress" class="form-control">
            <option value="">Select Country</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="China">China</option>
            <option value="India">India</option>
            <option value="Russia">Russia</option>
        </select>
    </div>

    <!-- Dropdown for Bank -->
    <div class="form-group">
        <label asp-for="Bank">Bank</label>
        <select asp-for="Bank" class="form-control">
            <option value="">Select Bank</option>
            <option value="RBS">RBS</option>
            <option value="Barclays">Barclays</option>
            <option value="Halifax">Halifax</option>
            <option value="Lloyds">Lloyds</option>
            <option value="Metro">Metro</option>
            <option value="Monzo">Monzo</option>
            <option value="HSBC">HSBC</option>
        </select>
    </div>

    <!-- Dropdown for TypeOfCard -->
    <div class="form-group">
        <label asp-for="TypeOfCard">Type of Card</label>
        <select asp-for="TypeOfCard" class="form-control">
            <option value="">Select Card Type</option>
            <option value="MasterCard">MasterCard</option>
            <option value="Visa">Visa</option>
        </select>
    </div>

    <input type="hidden" asp-for="Fraud" value="0" />
    

    <button type="submit" class="btn btn-primary">Place Your Order</button>
    <div asp-validation-summary="All"></div>
</form>
