@{
    ViewData["Title"] = "Checkout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Cart">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    </ol>
</nav>

<h2>Checkout</h2>
<hr />

@{
    var currentDate = DateTime.Now;
    var currentDayOfWeekNumber = (int)currentDate.DayOfWeek == 0 ? "Sunday" : currentDate.DayOfWeek.ToString();
    var currentHour = currentDate.Hour;
}

<form asp-controller="Admin" asp-action="PredictOrder" method="post">
    <div class="form-group">
        <label for="customerID">Customer ID</label>
        <input type="text" class="form-control" id="customerID" name="CustomerId" value="0" readonly>
    </div>

    <div class="form-group">
        <label for="transactionDate">Date</label>
        <input type="date" class="form-control" id="transactionDate" name="Date" value="@currentDate.ToString("yyyy-MM-dd")" readonly>
    </div>

    <div class="form-group">
        <label for="dayOfWeek">Day of the Week</label>
        <input type="text" class="form-control" id="dayOfWeek" name="DayOfWeek" value="@currentDayOfWeekNumber" readonly>
    </div>

    <div class="form-group">
        <label for="transactionTime">Time</label>
        <input type="number" class="form-control" id="transactionTime" name="Time" value="@currentHour" readonly>
    </div>

    <div class="form-group">
        <label for="entryMode">Entry Mode</label>
        <select class="form-control" id="entryMode" name="EntryMode">
            <option selected disabled>Select Entry Mode</option>
            <option value="PIN">PIN</option>
            <option value="Tap">Tap</option>
            <option value="CVC">CVC</option>
        </select>
    </div>

    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" name="Amount" placeholder="Enter Amount" step="0.01">
    </div>

    <div class="form-group">
        <label for="typeOfTransaction">Type of Transaction</label>
        <select class="form-control" id="typeOfTransaction" name="TypeOfTransaction">
            <option selected disabled>Select Transaction Type</option>
            <option value="Online">Online</option>
            <option value="ATM">ATM</option>
            <option value="POS">POS</option>
        </select>
    </div>

    <div class="form-group">
        <label for="countryOfTransaction">Country of Transaction</label>
        <select class="form-control" id="countryOfTransaction" name="CountryOfTransaction">
            <option selected disabled>Select Country</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="China">China</option>
            <option value="India">India</option>
            <option value="Russia">Russia</option>
        </select>
    </div>

    <div class="form-group">
        <label for="shippingCountry">Shipping Country</label>
        <select class="form-control" id="shippingCountry" name="ShippingAddress">
            <option selected disabled>Select Country</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="China">China</option>
            <option value="India">India</option>
            <option value="Russia">Russia</option>
        </select>
    </div>

    <div class="form-group">
        <label for="bank">Bank</label>
        <select class="form-control" id="bank" name="Bank">
            <option selected disabled>Select Bank</option>
            <option value="RBS">RBS</option>
            <option value="Barclays">Barclays</option>
            <option value="Halifax">Halifax</option>
            <option value="Lloyds">Lloyds</option>
            <option value="Metro">Metro</option>
            <option value="Monzo">Monzo</option>
            <option value="HSBC">HSBC</option>
        </select>
    </div>

    <div class="form-group">
        <label for="typeOfCard">Type of Card</label>
        <select class="form-control" id="typeOfCard" name="TypeOfCard">
            <option selected disabled>Select Card Type</option>
            <option value="MasterCard">MasterCard</option>
            <option value="Visa">Visa</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Place Your Order</button>
</form>
