@{
    ViewData["Title"] = "Checkout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Cart">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    </ol>
</nav>

<h2>Checkout</h2>
<hr />

@{
    var currentDate = DateTime.Now;
    var currentDayOfWeekNumber = (int)currentDate.DayOfWeek == 0 ? 7 : (int)currentDate.DayOfWeek; // Adjust for Sunday = 7
    var currentHour = currentDate.Hour;
}

<form asp-controller="ONXX" asp-action="Predict" method="post">
    <div class="form-group">
        <label for="customerID">Customer ID</label>
        <input type="text" class="form-control" id="customerID" name="customer_ID" value="0" readonly>
    </div>

    <div class="form-group">
        <label for="transactionDate">Date</label>
        <input type="date" class="form-control" id="transactionDate" name="date" value="@currentDate.ToString("yyyy-MM-dd")" readonly>
    </div>

    <div class="form-group">
        <label for="dayOfWeek">Day of the Week</label>
        <input type="number" class="form-control" id="dayOfWeek" name="day_of_week" value="@currentDayOfWeekNumber" readonly>
    </div>

    <div class="form-group">
        <label for="transactionTime">Time</label>
        <input type="number" class="form-control" id="transactionTime" name="time" value="@currentHour" readonly>
    </div>

    <div class="form-group">
        <label for="entryMode">Entry Mode</label>
        <select class="form-control" id="entryMode" name="entry_mode">
            <option selected disabled>Select Entry Mode</option>
            <option value="1">PIN</option>
            <option value="2">Tap</option>
            <option value="3">CVC</option>
        </select>
    </div>

    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount" step="1">
    </div>

    <div class="form-group">
        <label for="typeOfTransaction">Type of Transaction</label>
        <select class="form-control" id="typeOfTransaction" name="type_of_transaction">
            <option selected disabled>Select Transaction Type</option>
            <option value="1">Online</option>
            <option value="2">ATM</option>
            <option value="3">POS</option>
        </select>
    </div>

    <div class="form-group">
        <label for="countryOfTransaction">Country of Transaction</label>
        <select class="form-control" id="countryOfTransaction" name="country_of_transaction">
            <option selected disabled>Select Country</option>
            <option value="1">USA</option>
            <option value="2">United Kingdom</option>
            <option value="3">China</option>
            <option value="4">India</option>
            <option value="5">Russia</option>
        </select>
    </div>

    <div class="form-group">
        <label for="shippingCountry">Shipping Country</label>
        <select class="form-control" id="shippingCountry" name="shipping_address">
            <option selected disabled>Select Country</option>
            <option value="1">USA</option>
            <option value="2">United Kingdom</option>
            <option value="3">China</option>
            <option value="4">India</option>
            <option value="5">Russia</option>
        </select>
    </div>

    <div class="form-group">
        <label for="bank">Bank</label>
        <select class="form-control" id="bank" name="bank">
            <option selected disabled>Select Bank</option>
            <option value="1">RBS</option>
            <option value="2">Barclays</option>
            <option value="3">Halifax</option>
            <option value="4">Lloyds</option>
            <option value="5">Metro</option>
            <option value="6">Monzo</option>
            <option value="7">HSBC</option>
        </select>
    </div>

    <div class="form-group">
        <label for="typeOfCard">Type of Card</label>
        <select class="form-control" id="typeOfCard" name="type_of_card">
            <option selected disabled>Select Card Type</option>
            <option value="1">MasterCard</option>
            <option value="2">Visa</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Place Your Order</button>
</form>
