@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Breadcrumb-like navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
</nav>

<div class="container py-5">
    <h1>Privacy Policy</h1>
    <p>Last updated: April 8, 2024</p>

    <h5>Introduction</h5>
    <p>Our privacy policy will help you understand what information we collect at Brickwell Innovations, how Brickwell Innovations uses it, and what choices you have. Brickwell Innovations built the Brickland app as a free app. This SERVICE is provided by Brickwell Innovations at no cost and is intended for use as is.</p>

    <h5>Information Collection and Use</h5>
    <p>For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to users name, address, location, pictures. The information that we request will be retained by us and used as described in this privacy policy.</p>

    <h5>Log Data</h5>
    <p>We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>

    <h5>Cookies</h5>
    <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>

    <h5>Service Providers</h5>
    <p>We may employ third-party companies and individuals due to the following reasons:</p>
    <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
    </ul>

    <h5>Security</h5>
    <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

    <h5>Links to Other Sites</h5>
    <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

    <h5>Children’s Privacy</h5>
    <p>These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13.</p>

    <h5>Changes to This Privacy Policy</h5>
    <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>

    <h5>Contact Us</h5>
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at support@brickwellinnovations.com.</p>
</div>
