@page
@model LoginModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<a asp-page="/Register" class="btn btn-secondary">Register</a>

@* <div class="row">
    <div class="col-md-12">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            <div>
                <p>
                    <a asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-provider="Google" class="btn btn-primary">Login with Google</a>
                </p>
            </div>
        </section>
    </div>
</div>

 *@