@page
@model RegisterModel

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Username">Username</label>
        <input asp-for="Input.Username" class="form-control" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Email">Email</label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password">Password</label>
        <input asp-for="Input.Password" type="password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.FirstName">First Name</label>
        <input asp-for="Input.FirstName" class="form-control" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.LastName">Last Name</label>
        <input asp-for="Input.LastName" class="form-control" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.BirthDate">Birth Date</label>
        <input asp-for="Input.BirthDate" type="date" class="form-control" />
        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.CountryOfResidence">Country of Residence</label>
        <input asp-for="Input.CountryOfResidence" class="form-control" />
        <span asp-validation-for="Input.CountryOfResidence" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Gender">Gender</label>
        <select asp-for="Input.Gender" class="form-control">
            <option value="">Select...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Input.Gender" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
